<%- include('../partials/header') %>

<h2>Enter a new invoice:</h2>

<p>Select part from dropdown: 
    <select>
        <% parts.forEach(p => { %>
            <option><%= p.partNumber %></option>
        <% }) %>
    </select>
</p>

<form id="new-form" action="/invoices" method="POST">
    <label>Invoice Number: 
        <input type="text" name="invoiceNumber">
    </label><br><br>
    <label>Quantity to be received:
        <input type="number" name="quantity">
    </label><br><br>
    <label>Date Received: 
        <input type="date" name="dateReceived">
    </label><br><br>
    <input type="submit" value="Receive">
</form>

<%- include('../partials/footer') %>