<%- include('../partials/header') %>


<div class="container center-align">
<h4>Enter a NSN and Part Description:</h4>
<form id="new-form" action="/parts" method="POST">
    <label>National Stock Number:
        <input class="center-align" type="text" name="partNumber">
    </label><br><br>
    <label >Description:
        <input class="center-align" type="text" name="description">
    </label><br><br>
    <input class="center-align" type="submit" value="Add NSN">
</form>
</div>
<%- include('../partials/footer') %>